@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    border-radius: 15px;
    background-color: rgb(176, 176, 231);;
    border: 1px solid red;
    margin: 0 auto;
    width: 40%;
    height: 30vh;
    margin-top: 20px;
    margin-bottom: 10px;
}

section .nav-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.select-mes{
    border: none;
    outline: 0;
    font-style: italic;
    background-color: rgb(176, 176, 231);
}
.nav-saldo-conta{
    margin-bottom: 5px;
}
.nav-saldo-conta .valor-saldo{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
small{
    font-size: 10px;
}
.nav-receita-despesa {
    display: flex;
    justify-content: space-around;
}
.nav-receita{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 15vh;
    
}
.nav-despesa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 15vh;
    
}
i{
    margin: 10px;
}

/* ICONS SETAS RED AND BLUE */
.north{
    color: white;
    background-color: blue;
    border-radius: 100%;
    padding: 4px;
}
.south{
    color: white;
    background-color: red;
    border-radius: 100%;
    padding: 4px;
}

/* CORES VALOR DE RECEITA E DESPESAS */

.receita-valor{
    color: blue;
    font-size: 15px;
}
.despesa-valor{
    color: red;
    font-size: 15px;
}
.content-list{
    border-radius: 15px;
    background-color: rgb(176, 176, 231);;
    margin: 0 auto;
    width: 40%;
    height: 30vh; 
    margin-bottom: 10px;
    overflow: auto;
}
.content-title{
    padding: 0.2rem;
}
.content-list h4{
    font-family: oleo-script;
    font-weight: 700;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
}
.content-list li{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;

}
.container h4{
    font-size: 20pt;
    font-weight: bold;
}
.content-form{
    border-radius: 15px;
    background-color: rgb(176, 176, 231);;
    border: 1px solid red;
    margin: 0 auto;
    width: 40%;
    height: 30vh;
}
/* ESTILIZANDO SCROLL BAR */
::-webkit-scrollbar{
    width: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(196, 163, 163);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ESTILIZANDO FORM */

.content-form div{
    display: flex;
    justify-content: center;
}
.valor-input .valor{
    display: flex;
    justify-content: center;
    margin: 4px;

}
.nome-input .nome{
    margin: 2px;
}

input{
    background-color: aliceblue;
    border: none;
    outline: 0;
    border-radius: 10px;
    padding-left: 5px;
}
.valor-input{
    margin-bottom: 5px;
}
.content-form .title-form{
    display: inline;
}
.content-form h4{
    display: flex;
    justify-content: center;
    font-family: ole-script;
    font-weight: 700;
}

.money{
    color: green;
}
.title-form h4{
    margin: 10px 0;
}
.check-input label {
    font-size: 15px;
    margin: 0;
}
.content-form label{
    font-size: 15px;
}
div .btn{
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px 20px;
    background-color: rgb(43, 43, 184);
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.btn:hover{
    background-color: blue;
}
.content-inputs span{
    font-size: 15px;
}
.content-inputs select{
    font-size: 15px;
    display: flex;
    justify-content: center;
}

/* .listas-li li{
    margin-right: 10px;
} */

.listas-li li {
    margin-right: 10px;
    background: #fff;
    padding: 0.3em;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
}
.minus{
    border-right: 5px solid red;
}

.plus{
    border-right: 5px solid blue;
}

.btndel{
    border-radius: 5px;
    position: absolute;
    left: 24rem;
    border: none;
    background-color: red;
    color: #fff;
    outline: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.listas-li li:hover .btndel{
    opacity: 1;
}
.select-form{
    border: none;
    outline: 0;
    font-style: italic;
    background-color: rgb(176, 176, 231);
}
.select-rd{
    border: none;
    outline: 0;
    font-style: italic;
    background-color: rgb(176, 176, 231);
}

@media (max-width: 914px) {
    
    header{
        border-radius: 15px;
        background-color: rgb(176, 176, 231);
        border: 1px solid red;
        margin: 0 auto;
        width: 90%;
        height: 23vh;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .content-list {
        border-radius: 15px;
        background-color: rgb(176, 176, 231);;
        margin: 0 auto;
        width: 90%;
        height: 40vh;
        margin-bottom: 10px;
        overflow: auto;
    }
    h4{
        font-size: 30;
    }
    .container h4{
        font-size: 18pt;
        font-weight: bold;
    }
    .content-form {
        border-radius: 15px;
        background-color: rgb(176, 176, 231);;
        border: 1px solid red;
        margin: 0 auto;
        width: 90%;
        height: 23vh;
    }
    
    .content-inputs .valor {
        font-size: 18px;
    }
    .content-inputs .nome {
        font-size: 18px;
    }

    .btndel {
        border-radius: 5px;
        position: absolute;
        left: 2rem;
        border: none;
        background-color: red;
        color: #fff;
        outline: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}


@media (width: 412px){

    .nav-receita-valor .receita-valor,
    .nav-despesa-valor .despesa-valor{
        font-size: 1.5em;
    }
    .nav-receita-valor small,
    .nav-despesa-valor small
    {
        font-size: 1em;
    }
    .nav-saldo-conta .total .valor-saldo{
        font-size: 1.5em;
    }
    .nav-saldo-conta small{
        font-size: 1em;
    }
}
    
